/* General */

body{
    font-family: "Dosis", sans-serif;
    background-color: #000000;
    color: #BACED6;
}

.boderbottom{
    border-bottom: 1px solid #ffffff;
}



/* Navbar */

.navfontadj{
    color: #BACED6;
}

.navbar-nav a{
    color: #BACED6;
}

.navbtnbrd{
    border: 1px solid #BACED6;
}

.navbar-toggler-icon{
    filter: invert(1);
}



/* Header: ¿Quiénes somos? */

.iconadj{
    background-color: #0DCAF0;
    text-align: center;
}

@media (max-width: 576px) {
    #hdrhide {
        display: none;
    }
}



/* Section 2: Destacados (cards) */
.s2crdadj{
    background-color: #0DCAF0;
}



/* Section 3: Contacto */

#btnadj{
    font-weight: 800;
    color: #BACED6;
    background-color: #0DCAF0;
}



/* Footer */
.ftrbkg{
    background-color: #0DCAF0;
    color: #BACED6
}

.ftrtextadj a{
    text-decoration: none;
    color: #BACED6;
}

#ftrfontadj{
    font-size: 25px;
    font-weight: 600;
}

.ftrh3divadj{
    display: flex;
    align-items: center;
    justify-content: start;
}

.ftricondivadj{
    display: flex;
    align-items: center;
    justify-content: end;
}





/* esta clase me puede servir para pantallas grandes, ya que en pantallas pequeñas los íconos se salen */
/*.ftrspanadj{
    display: flex;
    align-items: center;
    justify-content: center;
}*/ 