body{
    font-family: "Dosis", sans-serif;
    background-color: #000000;
    color: #BACED6;
}


/* Navbar */

.navfontadj{
    color: #BACED6;
}

.navbar-nav a{
    color: #BACED6;
}

.navbtnbrd{
    border: 1px solid #BACED6;
}

.navbar-toggler-icon{
    filter: invert(1);
}



/* Header: ¿Quiénes somos? */

/*.hdrbkg{
    background-color: #000000;
    color: #BACED6;
}*/

.iconadj{
    background-color: #0DCAF0;
    text-align: center;
}



/* Section 2: Destacados (cards) */
.s2crdadj{
    background-color: #0DCAF0;
}



/* Footer */
.ftrbkg{
    background-color: #0DCAF0;
    color: #BACED6
}

.ftrh3divadj{
    display: flex;
    align-items: center;
    justify-content: start;
}

.ftriconadj a{
    text-decoration: none;
    color: #BACED6;
}

/* esta clase me puede servir para pantallas grandes, ya que en pantallas pequeñas los íconos se salen */
/*.ftrspanadj{
    display: flex;
    align-items: center;
    justify-content: center;
}*/ 