/* General */

body{
    font-family: "Dosis", sans-serif;
    background-color: #000000;
    color: #BACED6;
}

.boderbottom{
    border-bottom: 1px solid #ffffff;
}



/* Navbar */

.navfontadj{
    color: #BACED6;
}

.navbar-nav a{
    color: #BACED6;
}

.navbtnbrd{
    border: 1px solid #BACED6;
}

.navbar-toggler-icon{
    filter: invert(1);
}



/* Header: ¿Quiénes somos? */

.iconadj{
    background-color: #0DCAF0;
    text-align: center;
}

@media (max-width: 768px) {
    #hdrhide {
        display: none;
    }
}



/* Section 2: Destacados (cards) */
.s2crdadj{
    background-color: #0DCAF0;
    color: #BACED6;
    font-weight: 600;
}

.s2btnbkg{
    background-color: #006669;
    color: #BACED6;
    font-weight: 600;
}


@media (max-width: 576px){
    .crdmrg576{
        padding-bottom: 16px !important;
    }
}

@media (max-width: 7680px){
    .crdmrg992{
        padding-bottom: 16px !important;
        padding-left: 8px !important;
        padding-right: 8px !important;
    }
}



/* Section 3: Contacto */

#btnadj{
    font-weight: 800;
    color: #BACED6;
    background-color: #0DCAF0;
}

.ftrbtngreen{
    background-color: #17e421 !important;
}



/* Footer */
.ftrbkg{
    background-color: #0DCAF0;
    color: #BACED6
}

.ftrtextadj a{
    text-decoration: none;
    color: #BACED6;
}

#ftrfontadj{
    font-size: 25px;
    font-weight: 600;
}

.ftrh3divadj{
    display: flex;
    align-items: center;
    justify-content: start;
}

.ftricondivadj{
    display: flex;
    align-items: center;
    justify-content: end;
}